svg{
   background: #c5e0f5;
}

.map-tooltip {
   background: white;
   border: 2px solid #000000;
   border-radius: 8px;
   font-size: 0.8vw;
   font-weight: bold;
   height: 40px;
   margin-top: -20px;
   opacity: .8;
   pointer-events: none;
   position: absolute;
   text-align: center;
   /* width: 130px; */
}

.chart-tooltip{
   background: black;
   border: 2px solid #ffffff;
   border-radius: 5px;
   color: #ffffff;
   font-size: 12px;
   font-weight: bold;
   height: 40px;
   opacity: .8;
   pointer-events: none;
   position: absolute;
   text-align: center;
   width: 130px;
}

.label{
   color: #000000;
   font-size: 1vw;
   text-anchor: middle;
}

header {
   text-align: center;
}

.title{
   padding-top: 10px;
   padding-bottom: 5px;
   text-align: center;
}

g{
   text-align:center;
}

@media (min-width: 768px) {
.navbar-brand.abs
    {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }
}

.subtitle{
   text-align: center;
}

.bar {
   fill: #377eb8;
}

.grid line {
   shape-rendering: crispEdges;
   stroke: lightgrey;
   stroke-opacity: 0.7;
}

.grid path {
   stroke-width: 0;
}

.tick text {
   font-size: 0.9vw;
}

.axis-label{
   font-size: 1.1vw;
   font-weight: bold;
}

.aux-axis-label{
   font-size: 0.9vw;
}

.aux-title{
   font-size: 1vw;
   font-weight: bold;
}

.btn-enemies{
   background-color: #dc3545;
   border-color: #dc3545;
   color: white;
}

.btn-enemies:focus{
    box-shadow: 0 0 0 .2rem rgba(220,53,69,.5);
}

.btn-allies{
   background-color: #28a745;
   border-color: #28a745;
   color: white;
}

.btn-allies:focus {
    box-shadow: 0 0 0 .2rem rgba(40,167,69,.5);
}
