.card-footer{
   text-align: right;
}

img{
   width: 600px;
}

.text-center{
   color: #a0a0a0;
}

.yAxis text {
  font: 9pt sans-serif;
}

.yAxis line, .yAxis path {
  fill: none;
  stroke: #000;
  stroke-width: 2;
  shape-rendering: crispEdges;
}

svg.map{
   background: #c5e0f5;
}

.legend-container{
   text-align: center;
}

.vis-container{
   width: 80%;
   margin-left:auto;
   margin-right:auto;
   text-align: center;
}

.map-tooltip {
   background: white;
   border: 2px solid #000000;
   border-radius: 8px;
   font-size: 9pt;
   font-weight: bold;
   height: 40px;
   margin-top: -20px;
   opacity: .8;
   pointer-events: none;
   position: absolute;
   text-align: center;
   /* width: 130px; */
}

.chart-tooltip{
   background: black;
   border: 2px solid #ffffff;
   border-radius: 5px;
   color: #ffffff;
   font-size: 12px;
   font-weight: bold;
   height: 40px;
   opacity: .8;
   pointer-events: none;
   position: absolute;
   text-align: center;
   width: 130px;
}

.label{
   color: #000000;
   font-size: 1vw;
   text-anchor: middle;
}

header {
   text-align: center;
}

.title{
   text-align: center;
}

.context-btn-group{
   text-align: center;
}

g {
   text-align:center;
}

.subtitle{
   text-align: center;
}

.bar {
   fill: #377eb8;
}

.grid line {
   shape-rendering: crispEdges;
   stroke: lightgrey;
   stroke-opacity: 0.7;
}

.grid path {
   stroke-width: 0;
}

.tick text {
   font-size: 0.9vw;
}

.axis-label{
   font-size: 1.1vw;
   font-weight: bold;
}

.aux-axis-label{
   font-size: 0.9vw;
}

.aux-title{
   font-size: 1vw;
   font-weight: bold;
}

.btn-enemies{
   background-color: #dc3545;
   border-color: #dc3545;
   color: white;
}

.btn-enemies.focus, .btn-enemies:focus{
    box-shadow: 0 0 0 .2rem rgba(220,53,69,.5);
}

.btn-enemies.my-focus{
    box-shadow: 0 0 0 .2rem rgba(220,53,69,.5);
}

.btn-enemies:not(:disabled):not(.disabled).active, .btn-enemies:not(:disabled):not(.disabled):active, .show > .btn-enemies.dropdown-toggle {
    color: #fff;
    background-color: #bd2130;
    border-color: #b21f2d;
}

.btn-allies{
   background-color: #28a745;
   border-color: #28a745;
   color: white;
}

.btn-allies.focus, .btn-allies:focus {
    box-shadow: 0 0 0 .2rem rgba(40,167,69,.5);
}

.btn-allies.my-focus{
    box-shadow: 0 0 0 .2rem rgba(40,167,69,.5);
}

.btn-allies:not(:disabled):not(.disabled).active, .btn-allies:not(:disabled):not(.disabled):active, .show > .btn-allies.dropdown-toggle {
    color: #fff;
    background-color: #1e7e34;
    border-color: #1c7430;
}
