#index {
  /*font-family: 'Indie Flower', cursive;*/
  text-align: center;
}

#visualizacao1 {
  height: 550px;
}

#visualizacao2 {
  height: 550px;
}

#visualizacao3 {
  height: 500px;
}

.form-check-input {
  margin-left: 3px;
}

.form-check-label {
  margin-left: 20px;
}

h1, h2 {
  text-align: center;
}

h6 {
  color: #BDBDBD;
  text-align: right;
}

.navbar {
  padding-top: 0.2rem; /* 0px does not look good on small screens */
  padding-bottom: 0.2rem;
  font-size: 10pt;      /* Just because I am using big size font */
  line-height: 1em;
}

.c3-axis-y text {
  font-size: 10px;
}

.c3-axis-x text {
  font-size: 10px;
}

.c3-line {
  stroke-width: 2px;
}

.btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}
