svg {
   border-top: 1px solid #ccc;
   /* margin-top: 50px; */
}

hr{
   width: 100%;
}

body {
   /* font: 15px sans-serif; */
   width: innerWidth;
}

circle.node {
   fill: lightsteelblue;
   stroke: #222;
   stroke-width: 1.5px;
}

circle.leaf {
   stroke: #222;
   stroke-width: 1px;
}

path.hull {
   fill: lightsteelblue;
   fill-opacity: 0;
}

line.link {
   stroke: #333;
   stroke-opacity:0.9;
   pointer-events: none;
}

rect{
   stroke-width: 1.3px;
}

text{
   font-weight: 500;
   font-family: helvetica;
}

.tooltip {
   background: white;
   border: 2px solid #000000;
   border-radius: 8px;
   font-size: 12px;
   font-weight: bold;
   height: 40px;
   margin-top: -20px;
   opacity: .8;
   pointer-events: none;
   position: absolute;
   text-align: center;
}

.graph-title{
   text-align: center;
   padding-top: 20px;
   font-family: helvetica;
}

.instructions-text{
   fill: #777;
   font-size: 14px;
   font-style: italic;
}
